.logo {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
  }
  
  .logo img {
    width: 100px;
    height: 60px;
    object-fit: contain;
    cursor: pointer;
  }